# --- Core Framework ---
langchain
langchain-community
langchain-core

# --- Vector Database ---
langchain-chroma
chromadb

# --- Models ---
langchain-ollama
langchain-huggingface
sentence-transformers

# --- Document Processing (High Performance) ---
pymupdf
rapidocr-onnxruntime
pandas
openpyxl
docling

# --- Web Server ---
fastapi
uvicorn
python-multipart
pydantic

onnxruntime-gpu
torchvision 
torchaudio